<h2>Bookings</h2>
     <%= form_for :booking do |f|%> 
  <table class="table">
    <thead>
      <tr>
        <th>Book seat</th>
      </tr>
    </thead>
    <tbody>
     <% @seats.each do |seat| %>
      <tr>
          <td>  <%="Seat :#{seat.id}"%>: <%= f.radio_button :seat_id, seat.id %><br />
          </td>
      </tr>
    <% end %>
    <%= f.hidden_field :screening_id, value: @screening.id%>
    <%= f.submit 'Save'%>
    </tbody>
  </table>
  <% end %>
