<%if @screening.present? %>
	<div class= 'bookings_div'>
	  <%= render 'list' %>
	</div>
<% else %>
<h2>Bookings</h2>
  <table class="table">
    <thead>
      <tr>
      	<th>Theatre</th>
        <th>Movie</th>
        <th>Show Time</th>
        <th>User name</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
     	<% @bookings.each do |booking| %>
      		<tr>
      			<td><%= booking.screening.show_timing.theatre.name%></td>
          		<td> <%= booking.screening.movie.name %><br />
          		</td>
          		<td><%= booking.screening.show_timing.time%></td>
          		<td><%= booking.user.name%></td>
              <td><%= link_to 'Delete', 
                  booking_path(booking), 
                         method: :delete, 
                         data: { confirm: t('destroy_msg') } %></td>
      		</tr>
    	<% end %>
    </tbody>
  </table>
<% end %>