<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if current_user %>
    <%= link_to "Bookings", bookings_path %>
    <%= link_to "Movies", movies_path %>
  	<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
